.op-btn-group {
    display: flex;
    flex-direction: row;
    padding-top: 0.3rem;
    align-items: center;
    justify-content: center;
}

.op-btn-group button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    text-align: center;
    flex: 0 0 auto;
    padding: 8px;
    overflow: visible;
    border-radius: 4px;
    width: 36px;
    height: 36px;
    font-size: 1rem;
    position: relative;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.eye {
    color: rgb(140, 140, 140);
}
.edit {
    color: rgb(24, 144, 255);
}
.edit:hover {
    color: rgb(9, 109, 217);
    background-color: rgb(230, 247, 255);
}
.delete {
    color: rgb(255, 77, 79);
}
.delete:hover {
    color: rgb(168, 7, 26);
    background-color: rgb(255, 241, 240);
}
